* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4A70A9;
    height: 5rem;
}

header h1 {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    width: 100%;
    height: 100%;
    max-width: 5000px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#notComplated, #isCompleted,  #search-bar{
    background-color: white;
    width: 95%;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 3px -1px black;
}

#addbook{
    background-color: #e7ebff;
    width: 95%;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 3px -1px black;
}

#search-book input{
    width: 100%;
}

#search-book{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
}

/* #addbook{
    background-color: #443deb;
} */

.book {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px -1px black;
}

.button {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.input {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="number"]{
    cursor: text;

    height: 36px;
    border-radius: 3px;
    background-color: transparent;
    padding: 10px;
    border: 0.2px solid gray;
    /* box-shadow: 0px 0px 3px -1px black; */
}

input[type="checkbox"]{
    cursor: pointer;
}

button{
    cursor: pointer;

    padding: 4px 24px;
    height: 35px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid;

    margin-top: 5px;
}

#complete-book-list, #incomplete-book-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.toggle-button{
    border-color: #1a9b41;
    color: #1a9b41;
}

.toggle-button:hover{
    background-color: #D1F2D1;
}

.delete-button{
    border-color: #df2e25;
    color: #df2e25;
}

.delete-button:hover{
    background-color: #FDE2E1;
}

.edit-button, #book-form-submit{
    border-color: #0d6efd;
    background-color: transparent;
    color: #0d6efd;
}

#search-button{
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
}

#book-form-submit{
    background-color: white;
}

.edit-button:hover, #book-form-submit:hover{
    background-color: #e7ebff;
}

.compalated-checkbox {
    display: flex;
    align-items: center;
    gap: 3px;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

h2 {
    margin-bottom: 5px;
}